#threadsTabsContent .tab-pane .card .card-body.customer {
    background-color: #ffe6cc;
}

#threadsTabsContent .tab-pane .card .card-body.operator {
    background-color: #FADBD9;
}

#threadsTabsContent .tab-pane .card .card-body.admin {
    background-color: #CCFFCC;
}

.thread-comments .card-body.others {
    background-color: #dcdcdc;
}

.thread-comments .card-body.external_contact {
    background-color: #CCFFCC;
}

.thread-comments .card-body.responsible_info {
    background-color: #eaccff;
}

.thread-comments .card-body.process_to_follow {
    background-color: #cce5ff;
}

.thread-comments .card-body.info_important {
    background-color: #FADBD9;
}

.thread-comments .card-body.summary {
    background-color: #ffe6cc;
}

#threadsTabsContent .card-header {
    cursor: pointer;
}

.thread-comments .card-header {
    cursor: pointer;
}
