#threadsTabsContent .tab-pane .card .card-body.customer {
    background-color: #ffe6cc;
}

#threadsTabsContent .tab-pane .card .card-body.operator {
    background-color: #FADBD9;
}

#threadsTabsContent .tab-pane .card .card-body.admin {
    background-color: #CCFFCC;
}

.thread-comments .badge.others {
    background-color: #dcdcdc;
    color: #000000;
}

.thread-comments .badge.external_contact {
    background-color: #CCFFCC;
    color: #000000;
}

.thread-comments .badge.manager_info {
    background-color: #eaccff;
    color: #000000;
}

.thread-comments .badge.process_to_follow  {
    background-color: #cce5ff;
    color: #000000;
}

.thread-comments .badge.info_important {
    background-color: #FADBD9;
    color: #000000;
}

.thread-comments .badge.summary {
    background-color: #ffe6cc;
    color: #000000;
}

.thread-comments .badge{
    max-width: 75px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#threadsTabsContent .card-header {
    cursor: pointer;
}

.thread-comments .card-header {
    cursor: pointer;
}

#threadsTabsContent .card-header.collapsed:before, .thread-comments .card-header.collapsed:before{
    content: "";
    float: right;
    height: .6em;
    width: .6em;
    border-color: initial;
    border-style: solid;
    border-width: 0 0 1px 1px;
    transform: rotate(-45deg) translateY(0%);
    transition: all 0.5s;
    margin-top: 10px;
}

#threadsTabsContent .card-header:before, .thread-comments .card-header:before{
    content: "";
    float: right;
    height: .6em;
    width: .6em;
    border-color: initial;
    border-style: solid;
    border-width: 0 0 1px 1px;
    transform: rotate(135deg) translateY(0%);
    transition: all 0.5s;
    margin-top: 10px;
}

#threadsTabs .badge {
    z-index: 1;
}

.controls {
    margin-top: 10px;
}
