.tags-style {
    border-radius: 5em;
    padding: 0.5em;
    margin: 0.2em;
    white-space:nowrap;
}

.deleteTaglist {
    margin-bottom: 1em;
    position: relative;
    left: 95%;
    --bs-btn-padding-y: .25rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: .75rem;
}

.delete-tag {
    --bs-btn-padding-y: .5rem;
    --bs-btn-padding-x: 0rem;
}
