.tags-style {
    border-radius: 15px;
    padding: 0.3em;
    margin: 0.1em;
    white-space:nowrap;
    font-weight: bold;
}

.tags-style-count {
    border-radius: 5em;
    width: 1em;
    padding: 0 0.3em;
    margin: 0.2em;
    background-color: white;
    color: black;
}

.deleteTaglist {
    margin-bottom: 1em;
    position: relative;
    left: 95%;
    --bs-btn-padding-y: .25rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: .75rem;
}

.delete-tag {
    --bs-btn-padding-y: .5rem;
    --bs-btn-padding-x: 0rem;
}
