.fixed-width-xs {
    width: 48px !important
}

.fixed-width-sm {
    width: 80px !important
}

.fixed-width-md {
    width: 120px !important
}

.fixed-width-lg {
    width: 160px !important
}

.fixed-width-xl {
    width: 200px !important
}

.fixed-width-xxl {
    width: 250px !important
}
